__pycache__
*.ini
*.avi
*.mp4

resources/calibration/
resources/marker/
resources/chess/
resources/chess_models/
resources/chess_models_3/
resources/chess_models_reduced/
resources/data/
resources/ARChess_logo.png
temp/
